
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recetas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div class="background-container"></div>
    <header id="idHeader" style="background-color:  rgb(243, 182, 224);">
      // header requerido de template.js
    </header>
    <main style="text-align: center;">
        <h1 class="titulo-principal" >Todos los productos</h1>
        <div id="contenedorProducto" class="row"></div>
        //productos requeridos de productos.js
    </main>
    <footer id="idFooter" style="background-color: rgb(243, 182, 224); text-align: center;">
        // footer requerido de templates.js
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
    <script src="../static/js/templates.js"></script>
    <script src="../static/js/productoId.js"></script>
</body>

</html>