<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recetas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div class="background-container"></div>
    <header style="background-color:  rgb(243, 182, 224);">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand titulo-animado" href="../index.html">Dulces L y A</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item btn-custom-purple">
                            <a class="nav-link active " aria-current="page" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item  btn-custom-purple">
                            <a class="nav-link active " aria-current="page" href="./receta.html">Recetas</a>
                        </li>
                        <li class="nav-item  btn-custom-purple">
                            <a class="nav-link active " aria-current="page" href="./contacto.html">Contacto</a>
                        </li>
                        <li class="nav-item  btn-custom-purple">
                            <a class="nav-link active " aria-current="page" href="./sucursales.html">Insumos</a>
                        </li>
                        <li class="nav-item btn-custom-purple">
                            <a class="nav-link active" aria-current="page"
                                href="./registro.html">Registrate</a></button>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-custom-purple" type="submit">Search</button>
                    </form>
                </div>
            </div>

        </nav>
    </header>
    <main class="recetas-main">
        <div class="card">
            <h1 class="titulo-principal">muffins saborizados</h1>
            <div class="card-body">
                <section class="cards">
                    <img src="../static/img/Muffins de coco y dulce de leche.jpg" width="350" height="300"
                        alt="Muffins"></a>
                </section>
                <section class="ingredientes">
                    <table class="tabla" border="2px solid black;" align="center">
                        <tr>
                            <td colspan="2" align="center">
                                <h3>Ingredientes:</h3>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Cantidad</strong></td>
                            <td><strong>Productos</strong></td>
                        </tr>
                        <tr>
                            <td>350gr</td>
                            <td>harina 000</td>
                        </tr>
                        <tr>
                            <td>270 gr</td>
                            <td>Huevos</td>
                        </tr>
                        <tr>
                            <td>100gr</td>
                            <td>Manteca</td>
                        </tr>
                        <tr>
                            <td>cant necesaria</td>
                            <td>Esencia de vainilla</td>
                        </tr>
                        <tr>
                            <td>5 gr</td>
                            <td>Polvo de hornear</td>
                        </tr>
                        <tr>
                            <td>360 cm3</td>
                            <td>Leche</td>
                        </tr>
                        <tr>
                            <td>4 gr</td>
                            <td>Sal</td>
                        </tr>
                    </table>
                </section>
                <div class="preparacion">
                    <h3>Preparación</h3>
                    <section class="receta-text">
                        <ol>
                            <li>Mesclar los liquidos</li>
                            <li>Tamizar los secos</li>
                            <li>Incorporar liquidos con secos</li>
                            <li>Verter la mescla en los moldes con los pirotines</li>
                            <li>Llevar al horno a 180°c de 10 a 15'</li>
                            <li>Retirar del horno, dejar enfriar y decorar a gusto</li>
                        </ol>
                    </section>
                </div>
            </div>

        </div>
    </main>
    <footer style="background-color: rgb(243, 182, 224); text-align: center;">
        <a href="https://www.twitter.com" target="_blank"><i class="fab  fa-twitter"></i></a>
        <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></i></a>

        <a href="https://www.instagram.com/dulces.lya/" target="_blank"><i class="fab fa-instagram"></i></i></a>
        <a href="https://www.linkedin.com/in/emanuel-gauna/" target="_blank"><i class="fab fa-linkedin"></i></i></a>

        <p style="text-align: center;">Derechos reservados @2024</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>

</html>