<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Insumos</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <div class="background-container"></div>
  <header style="background-color:  rgb(243, 182, 224);">
    <nav class="nav-pages">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand titulo-animado" href="../index.html">Dulces L y A</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item btn-custom-purple">
                <a class="nav-link active " aria-current="page" href="../index.html">Home</a>
              </li>
              <li class="nav-item  btn-custom-purple">
                <a class="nav-link active " aria-current="page" href="./receta.html">Recetas</a>
              </li>
              <li class="nav-item  btn-custom-purple">
                <a class="nav-link active " aria-current="page" href="./contacto.html">Contacto</a>
              </li>
              <li class="nav-item  btn-custom-purple">
                <a class="nav-link active " aria-current="page" href="./sucursales.html">Insumos</a>
              </li>
              <li class="nav-item btn-custom-purple">
                  <a class="nav-link active" aria-current="page" href="./registro.html">Registrate</a></button>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-custom-purple" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    </nav>
  </header>
  <main class="sucursales">
    <h1 class="titulo-principal">
      Sucursales para comprar todos tus insumos y materias primas
    </h1>
    <section class="direcciones">
      <div class="sucursales-card sucursal0">
        <h1><a href="https://maps.app.goo.gl/rGmer3LJzE1jp37H8">Doña clara</a></h1>
        <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15233.68622937146!2d-58.41455546541056!3d-34.60575589486897!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccaecdf7ece25%3A0xe5544dee2cead3f0!2sDo%C3%B1a%20Clara!5e0!3m2!1ses-419!2sar!4v1710715705356!5m2!1ses-419!2sar"
        width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="sucursales-card sucursal1">
        <h1><a href="https://maps.app.goo.gl/sA9b3AwMdqtSfF1b8">El Nuevo Emporio</a></h1>
        <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d76005.56542906625!2d-58.45324603030526!3d-34.6223031853331!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccb1dc855e299%3A0x60513f3f1fbd6eb5!2sEl%20Nuevo%20Emporio%20Reposter%C3%ADa!5e0!3m2!1ses-419!2sar!4v1710715977109!5m2!1ses-419!2sar"
        width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="sucursales-card sucursal2">
        <h1><a href="https://maps.app.goo.gl/QjuYp4N7hbEfXwS2A">Cocina con Valentino</a> </h1>
        <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d210186.21343780268!2d-58.51769298359377!3d-34.60012590000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccacbdfd1305b%3A0x4ab14d2dd25c406f!2sCocina%20con%20Valentino%20-%20Microcentro!5e0!3m2!1ses-419!2sar!4v1710716497870!5m2!1ses-419!2sar"
        width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="sucursales-card sucursal3">
        <h1><a href="https://maps.app.goo.gl/bCbZzh81RNDzKoGM6">La Botica del Pastelero</a></h1>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.7351539123974!2d-58.4494976!3d-34.585567399999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb5e5bfa09405%3A0x3226f37382f6e777!2sLa%20Botica%20Del%20Pastelero!5e0!3m2!1ses-419!2sar!4v1710716578321!5m2!1ses-419!2sar"
          width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </section>

  </main>
  <footer style="background-color: rgb(243, 182, 224); text-align: center;">
    <a href="https://www.twitter.com" target="_blank"><i class="fab  fa-twitter"></i></a>
    <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></i></a>
    <a href="https://www.instagram.com/dulces.lya/" target="_blank"><i class="fab fa-instagram"></i></i></a>
    <a href="https://www.linkedin.com/in/emanuel-gauna/" target="_blank"><i class="fab fa-linkedin"></i></i></a>
    <p style="text-align: center;">Derechos reservados @2024</p>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>

</html>